/*

Structure based on ITCSS
https://speakerdeck.com/dafed/managing-css-projects-with-itcss

Settings: Global variables, config switches.
Tools: Default mixins and functions.
Generic: Ground-zero styles (Normalize.css, resets, box-sizing)
Base: Unclassed HTML elements (type selectors, font-face).
Objects: Cosmetic-free design patterns.
Components: Designed components, chunks of UI.
Trumps: Helpers and overrides.

*/

/**
 * SETTINGS
 */
$line-height: 1.4;
$line-height-em: $line-height * 1em;



/**
 * IMPORTS
 */
@import "tools";
@import "_tools/*";

@import "normalize.css";

@import "base";
@import "_base/*";

@import "objects";
@import "_objects/*";

@import "components";
@import "_components/*";

@import "trumps";
