//http://brandcolors.net/
$bc-4ormat: #fb0a2a;
$bc-500px: #00aeef;
$bc-about-me: #00405d;
$bc-about-me-2: #062f3c;
$bc-about-me-3: #2b82ad;
$bc-about-me-4: #cc7a00;
$bc-about-me-5: #ffcc33;
$bc-addvocate: #ff3322;
$bc-adobe: #ff0000;
$bc-adobe-2: #fbb034;
$bc-adobe-3: #ffdd00;
$bc-adobe-4: #c1d82f;
$bc-adobe-5: #00a4e4;
$bc-adobe-6: #8a7967;
$bc-adobe-7: #6a737b;
$bc-aim: #ffd900;
$bc-amazon: #ff9900;
$bc-amazon-2: #146eb4;
$bc-android: #a4c639;
$bc-angie-s-list: #7fbb00;
$bc-aol: #ff0b00;
$bc-aol-2: #00c4ff;
$bc-asana: #1f8dd6;
$bc-asana-2: #34ad00;
$bc-atlassian: #003366;
$bc-behance: #1769ff;
$bc-big-cartel: #a0ac48;
$bc-big-cartel-2: #70b29c;
$bc-bitly: #ee6123;
$bc-bitly-2: #61b3de;
$bc-blogger: #f57d00;
$bc-boeing: #0039a6;
$bc-booking-com: #003580;
$bc-carbonmade: #613854;
$bc-cheddar: #ff7243;
$bc-coca-cola: #ed1c16;
$bc-code-school: #616f67;
$bc-code-school-2: #c68143;
$bc-creative-market: #8ba753;
$bc-delicious: #3399ff;
$bc-delicious-2: #222222;
$bc-delicious-3: #eeeeee;
$bc-dell: #0085c3;
$bc-dell-2: #7ab800;
$bc-dell-3: #f2af00;
$bc-dell-4: #dc5034;
$bc-dell-5: #ce1126;
$bc-dell-6: #b7295a;
$bc-dell-7: #6e2585;
$bc-dell-8: #71c6c1;
$bc-dell-9: #5482ab;
$bc-dell-10: #009bbb;
$bc-dell-11: #444444;
$bc-dell-12: #eeeeee;
$bc-designmoo: #e64b50;
$bc-designmoo-2: #dbc65d;
$bc-deviantart: #4e6252;
$bc-designer-news: #2d72d9;
$bc-devour: #ff0000;
$bc-dewalt: #febd17;
$bc-disqus: #2e9fff;
$bc-dribbble: #444444;
$bc-dribbble-2: #ea4c89;
$bc-dribbble-3: #8aba56;
$bc-dribbble-4: #ff8833;
$bc-dribbble-5: #00b6e3;
$bc-dribbble-6: #9ba5a8;
$bc-dropbox: #007ee5;
$bc-dropbox-2: #7b8994;
$bc-dropbox-3: #47525d;
$bc-dropbox-4: #3d464d;
$bc-drupal: #0077c0;
$bc-drupal-2: #81ceff;
$bc-drupal-3: #00598e;
$bc-dunked: #2f3238;
$bc-dunked-2: #3fc380;
$bc-ebay: #e53238;
$bc-ebay-2: #0064d2;
$bc-ebay-3: #f5af02;
$bc-ebay-4: #86b817;
$bc-engadget: #40b3ff;
$bc-envato: #82b541;
$bc-etsy: #d5641c;
$bc-evernote: #7ac142;
$bc-evernote-2: #808084;
$bc-fab-com: #dd0017;
$bc-fab-com-2: #000;
$bc-facebook: #3b5998;
$bc-firefox: #e66000;
$bc-firefox-2: #ff9500;
$bc-firefox-3: #ffcb00;
$bc-firefox-4: #00539f;
$bc-firefox-5: #0095dd;
$bc-firefox-6: #331e54;
$bc-firefox-7: #002147;
$bc-flickr: #0063dc;
$bc-flickr-2: #ff0084;
$bc-forrst: #5b9a68;
$bc-foursquare: #0072b1;
$bc-foursquare-2: #eeebac;
$bc-foursquare-3: #0cbadf;
$bc-foursquare-4: #8fd400;
$bc-foursquare-5: #ff7900;
$bc-foursquare-6: #ffcb00;
$bc-foursquare-7: #d1d4d3;
$bc-garmin: #007cc3;
$bc-tvtag: #f24e4e;
$bc-gimmebar: #d6156c;
$bc-github: #4183c4;
$bc-github-2: #999;
$bc-github-3: #666;
$bc-github-4: #333;
$bc-github-5: #6cc644;
$bc-github-6: #bd2c00;
$bc-github-7: #f93;
$bc-google: #4285f4;
$bc-google-2: #db4437;
$bc-google-3: #f4b400;
$bc-google-4: #0f9d58;
$bc-google-5: #e7e6dd;
$bc-google-plus: #dd4b39;
$bc-grooveshark: #f86f09;
$bc-grooveshark-2: #000;
$bc-groupon: #82b548;
$bc-hacker-news: #ff6600;
$bc-hellowallet: #0093d0;
$bc-heroku: #c9c3e6;
$bc-heroku-2: #6762a6;
$bc-houzz: #7ac142;
$bc-houzz-2: #000000;
$bc-hp: #0096d6;
$bc-hp-2: #d7410b;
$bc-html5: #e34f26;
$bc-hulu: #a5cd39;
$bc-hulu-2: #6bb03e;
$bc-ibm: #006699;
$bc-ikea: #ffcc00;
$bc-ikea-2: #003399;
$bc-imdb: #f5de50;
$bc-instagram: #3f729b;
$bc-instapaper: #000;
$bc-instapaper-2: #428bca;
$bc-intel: #0071c5;
$bc-intuit: #365ebf;
$bc-kickstarter: #2bde73;
$bc-kickstarter-2: #0f2105;
$bc-kippt: #d51007;
$bc-lastfm: #c3000d;
$bc-linkedin: #0976b4;
$bc-linkedin-2: #000;
$bc-livestream: #cf202e;
$bc-livestream-2: #232121;
$bc-livestream-3: #f78822;
$bc-livestream-4: #f6db35;
$bc-livestream-5: #6dc067;
$bc-livestream-6: #4185be;
$bc-livestream-7: #8f499c;
$bc-lumo: #576396;
$bc-mixpanel: #a086d3;
$bc-meetup: #e0393e;
$bc-netflix: #b9090b;
$bc-nokia: #124191;
$bc-nvidia: #76b900;
$bc-odnoklassniki: #ed812b;
$bc-opera: #cc0f16;
$bc-opera-2: #9c9e9f;
$bc-path: #ee3423;
$bc-paypal: #253b80;
$bc-paypal-2: #179bd7;
$bc-pinboard: #0000e6;
$bc-pinterest: #cc2127;
$bc-playstation: #003087;
$bc-pocket: #d3505a;
$bc-pocket-2: #478f8f;
$bc-prezi: #318bff;
$bc-quora: #a82400;
$bc-quote-fm: #66ceff;
$bc-rdio: #007dc3;
$bc-readability: #900;
$bc-red-hat: #cc0000;
$bc-reddit: #ff4500;
$bc-reddit-2: #5f99cf;
$bc-reddit-3: #cee3f8;
$bc-rockpack: #0ba6ab;
$bc-roon: #62b0d9;
$bc-rss: #f26522;
$bc-salesforce: #1798c1;
$bc-salesforce-2: #ff1100;
$bc-samsung: #1428a0;
$bc-samsung-2: #75787b;
$bc-samsung-3: #0689d8;
$bc-samsung-4: #ffc600;
$bc-samsung-5: #ff6900;
$bc-samsung-6: #e4002b;
$bc-samsung-7: #c800a1;
$bc-samsung-8: #685bc7;
$bc-samsung-9: #0057b8;
$bc-samsung-10: #00a9e0;
$bc-samsung-11: #009ca6;
$bc-samsung-12: #00b140;
$bc-shopify: #96bf48;
$bc-shopify-2: #479ccf;
$bc-shopify-3: #2d3538;
$bc-shopify-4: #f5f5f5;
$bc-shopify-5: #f2f7fa;
$bc-shopify-6: #666666;
$bc-skype: #00aff0;
$bc-smashing-magazine: #e53b2c;
$bc-smashing-magazine-2: #41b7d8;
$bc-snagajob: #f47a20;
$bc-softonic: #008ace;
$bc-soundcloud: #f80;
$bc-soundcloud-2: #f30;
$bc-spotify: #7ab800;
$bc-sprint: #ffe100;
$bc-squarespace: #222;
$bc-stackoverflow: #fe7a15;
$bc-staples: #cc0000;
$bc-staples-2: #2c8aec;
$bc-staples-3: #ffcc00;
$bc-status-chart: #d7584f;
$bc-stripe: #00afe1;
$bc-studyblue: #00afe1;
$bc-stumbleupon: #eb4924;
$bc-t-mobile: #e20074;
$bc-technorati: #390;
$bc-the-next-web: #ff3c1f;
$bc-the-next-web-2: #26313b;
$bc-the-next-web-3: #4e5860;
$bc-the-next-web-4: #a6abaf;
$bc-the-next-web-5: #d9e0e2;
$bc-the-next-web-6: #fafbfc;
$bc-treehouse: #6fbc6d;
$bc-treehouse-2: #47535b;
$bc-trello: #256a92;
$bc-trulia: #5eab1f;
$bc-tumblr: #35465c;
$bc-twitch-tv: #6441a5;
$bc-twitter: #55acee;
$bc-twitter-2: #292f33;
$bc-twitter-3: #66757f;
$bc-twitter-4: #8899a6;
$bc-twitter-5: #ccd6dd;
$bc-twitter-6: #e1e8ed;
$bc-twitter-7: #f5f8fa;
$bc-typekit: #98ce1e;
$bc-ubuntu: #dd4814;
$bc-ubuntu-2: #77216f;
$bc-ubuntu-3: #5e2750;
$bc-ubuntu-4: #2c001e;
$bc-ubuntu-5: #aea79f;
$bc-ubuntu-6: #333333;
$bc-ustream: #3388ff;
$bc-verizon: #f00;
$bc-verizon-2: #f2f2f2;
$bc-verizon-3: #3285dc;
$bc-vimeo: #162221;
$bc-vimeo-2: #1ab7ea;
$bc-vine: #00b488;
$bc-virb: #1e91d0;
$bc-virgin-media: #c3092d;
$bc-virgin-media-2: #222221;
$bc-vkontakte: #45668e;
$bc-wooga: #5b009c;
$bc-wordpress: #21759b;
$bc-wordpress-2: #d54e21;
$bc-wordpress-3: #464646;
$bc-wunderlist: #2b96f1;
$bc-xbox: #107c10;
$bc-xing: #026466;
$bc-xing-2: #cfdc00;
$bc-yahoo: #400191;
$bc-yandex: #ffcc00;
$bc-yelp: #af0606;
$bc-youtube: #e52d27;
$bc-youtube-2: #b31217;
$bc-youtube-3: #000;
$bc-zendesk: #78a300;
$bc-zendesk-2: #f1f1f1;
$bc-zendesk-3: #444;
$bc-zerply: #9dbc7a;
$bc-microsoft: #f65314;
$bc-microsoft-2: #7cbb00;
$bc-microsoft-3: #00a1f1;
$bc-microsoft-4: #ffbb00;
$bc-windows: #00bcf2;
$bc-microsoft-office: #ea3e23;
$bc-windows-phone: #68217a;
$bc-bing: #ffb900;
$bc-kiwipay: #00b0df;
$bc-wordpress-com: #1e8cbe;
$bc-django: #092e20;
$bc-geocaching: #4a742c;
$bc-arch-linux: #1793d1;
$bc-arch-linux-2: #333333;
$bc-gittip: #663300;
$bc-gittip-2: #339966;
$bc-flattr: #f67c1a;
$bc-flattr-2: #338d11;
$bc-hsbc: #db0011;
$bc-zopim: #ff9d3b;
$bc-bitbucket: #205081;
$bc-strava: #fc4c02;
$bc-ghost: #212425;
$bc-ghost-2: #718087;
$bc-ghost-3: #5ba4e5;
$bc-ghost-4: #9fbb58;
$bc-ghost-5: #e9e8dd;
$bc-typo3: #ff8600;
$bc-univision: #c822b0;
$bc-motorola: #5c92fa;
$bc-godaddy: #7db701;
$bc-godaddy-2: #ff8a00;
$bc-espn: #f03;
$bc-reverbnation: #e43526;
$bc-pandora: #015486;
$bc-plasso: #6585ed;
$bc-plasso-2: #f5756c;
$bc-plasso-3: #98afc0;
$bc-plasso-4: #2f3148;
$bc-powerpoint: #f04e23;
$bc-outlook: #0072c6;
$bc-excel: #008641;
$bc-word: #0054a6;
$bc-onenote: #662d91;
$bc-onedrive: #094ab2;
$bc-slideshare: #e98325;
$bc-slideshare-2: #07a;
$bc-slideshare-3: #00a7a9;
$bc-klout: #e44600;
$bc-klout-2: #645357;
$bc-klout-3: #01b9ff;
$bc-digg: #000000;
$bc-taco-bell: #36399a;
$bc-taco-bell-2: #ed008c;
$bc-taco-bell-3: #fee012;
$bc-mcdonald-s: #ffc82d;
$bc-mcdonald-s-2: #d3222a;
$bc-burger-king: #fcbc10;
$bc-burger-king-2: #ed1c24;
$bc-burger-king-3: #0066b3;
$bc-pepsi: #05345c;
$bc-pepsi-2: #0085ca;
$bc-pepsi-3: #e8112d;
$bc-amd: #f00;
$bc-amd-2: #000;
$bc-dish: #ed1420;
$bc-flipkart-com: #005d93;
$bc-flipkart-com-2: #fcd200;
$bc-at-t: #ff7200;
$bc-at-t-2: #067ab4;
$bc-at-t-3: #b6bf00;
$bc-at-t-4: #6ebb1f;
$bc-at-t-5: #b30a3c;
$bc-at-t-6: #81017e;
$bc-at-t-7: #0c2577;
$bc-arm: #0084ab;
$bc-alibaba: #f60;
$bc-freshbooks: #0d83dd;
$bc-freshbooks-2: #86c620;
$bc-freshbooks-3: #648c0f;
$bc-freshbooks-4: #040505;
$bc-harvest: #f36c00;
$bc-harvest-2: #231f20;
$bc-wave-accounting: #72cac8;
$bc-wave-accounting-2: #00929f;
$bc-xero: #00b7e3;
$bc-kashflow: #d6345f;
$bc-mailchimp: #2c9ab7;
$bc-mailchimp-2: #449a88;
$bc-mailchimp-3: #febe12;
$bc-mailchimp-4: #db3a1b;
$bc-mailchimp-5: #373737;
$bc-authorize-net: #2f5571;
$bc-campaign-monitor: #19a9e5;
$bc-campaign-monitor-2: #72d0eb;
$bc-campaign-monitor-3: #7ebd26;
$bc-campaign-monitor-4: #b9dc2f;
$bc-constant-contact: #17488a;
$bc-eventbrite: #ff8000;
$bc-wufoo: #c83a24;
$bc-hubspot: #4a5b67;
$bc-hubspot-2: #f7761f;
$bc-arduino: #00979d;
$bc-snapchat: #fffc00;
$bc-whatsapp: #34af23;
$bc-simple: #ec7962;
$bc-simple-2: #3d899a;
$bc-simple-3: #76a9b4;
$bc-mapbox: #3bb2d0;
$bc-laravel: #f87f73;
$bc-walmart: #fdbb30;
$bc-walmart-2: #1a75cf;
$bc-walmart-3: #003896;
$bc-walmart-4: #6cabe7;
$bc-broadcom: #e51937;
$bc-broadcom-2: #231f20;
$bc-tripadvisor: #589742;
$bc-tripadvisor-2: #231f20;
$bc-tripadvisor-3: #ec2028;
$bc-tripadvisor-4: #fedf9e;
$bc-magento: #ef672f;
$bc-sugarcrm: #e61718;
$bc-woothemes: #42a2ce;
$bc-woothemes-2: #255a8c;
$bc-woothemes-3: #71b02f;
$bc-woothemes-4: #a46497;
$bc-woocommerce: #a46497;
$bc-codepen: #76daff;
$bc-codepen-2: #a561cb;
$bc-codepen-3: #66ce5b;
$bc-codepen-4: #f7ec13;
$bc-codepen-5: #d75e5e;
$bc-better-business-bureau: #005a78;
$bc-discover: #f68121;
$bc-discover-2: #242021;
$bc-american-express: #007bc1;
$bc-mastercard: #0a3a82;
$bc-mastercard-2: #ee2d24;
$bc-mastercard-3: #fbb134;
$bc-visa: #0157a2;
$bc-visa-2: #f6a41d;
$bc-vistaprint: #00539f;
$bc-vistaprint-2: #ffe513;
$bc-vistaprint-3: #ee4498;
$bc-vistaprint-4: #2c99da;
$bc-radioshack: #f06548;
$bc-mixpanel: #00a9d2;
$bc-mixpanel-2: #ee8460;
$bc-mixpanel-3: #ebbb62;
$bc-mixpanel-4: #00c7b2;
$bc-mixpanel-5: #c271b0;
$bc-basecamp: #66cc66;
$bc-basecamp-2: #17ad49;
$bc-basecamp-3: #b6deff;
$bc-basecamp-4: #000;
$bc-podio: #3376a4;
$bc-whatsapp: #34af23;
$bc-whatsapp-2: #64d448;
$bc-beats: #f00;
$bc-blizzard: #01b2f1;
$bc-desk-com: #674397;
$bc-desk-com-2: #435f98;
$bc-desk-com-3: #08b087;
$bc-desk-com-4: #a58559;
$bc-desk-com-5: #f0f0ed;
$bc-desk-com-6: #121214;
$bc-easyjet: #f60;
$bc-gopro: #00aeef;
$bc-gopro-2: #005dac;
$bc-cisco: #15495d;
$bc-cisco-2: #c4122e;
$bc-mozilla: #c13832;
$bc-mozilla-2: #d7d3c8;
$bc-mozilla-3: #4d4e53;
$bc-thunderbird: #00539f;
$bc-thunderbird-2: #0095dd;
$bc-thunderbird-3: #f5efe6;
$bc-shazam: #1b87e3;
$bc-toyota: #d92027;
$bc-zte: #0a50a0;
$bc-zte-2: #1ba5e1;
$bc-xiaomi: #ff4a00;
$bc-vsco: #211e1e;
$bc-vsco-2: #a8a749;
$bc-uber: #1fbad6;
$bc-snapchat: #fffc00;
$bc-rovio: #c02227;
$bc-nintendo: #8c8c8c;
$bc-line: #1dcd00;
$bc-lg: #c40950;
$bc-lg-2: #6d6e72;
$bc-htc: #69b40f;
$bc-airbnb: #ff5a5f;
$bc-brandfolder: #40d1f5;
$bc-brandfolder-2: #3bc7eb;
$bc-brandfolder-3: #2ba2d6;
$bc-brandfolder-4: #252c2f;
$bc-brandfolder-5: #00ee88;
$bc-brandfolder-6: #333333;
$bc-brandfolder-7: #384650;
$bc-brandfolder-8: #fa3e26;
$bc-brandfolder-9: #eff056;
$bc-brandfolder-10: #dde2e6;
$bc-brandfolder-11: #f6f8f9;
$bc-foxconn: #0165b0;
$bc-huawei: #d62d24;
$bc-qualcomm: #005daa;
$bc-softbank: #fbbd09;
$bc-ge: #019ddd;
$bc-vodafone: #e60000;
$bc-acer: #83b81a;
$bc-china-monile: #1d64b8;
$bc-corning: #069;
$bc-ntt-docomo: #c03;
$bc-starbucks: #00704a;
$bc-expedia: #003050;
$bc-expedia-2: #ffcb00;
$bc-buzzfeed: #ee3322;
$bc-box: #00aeef;
$bc-hart: #f23f3f;
$bc-hart-2: #ff7f3b;
$bc-hart-3: #f2c83f;
$bc-hart-4: #3ac95c;
$bc-hart-5: #3bbdca;
$bc-hart-6: #4a95ff;
$bc-hart-7: #ac59ff;
$bc-hart-8: #ff8aed;
$bc-mamp: #646464;
$bc-mamp-2: #177ab1;
$bc-thumbtack: #f47503;
$bc-feedly: #6cc655;
$bc-tinder: #ff7258;
$bc-internet-explorer: #0cf;
$bc-chrome: #f06b59;
$bc-chrome-2: #df2227;
$bc-chrome-3: #4cb749;
$bc-chrome-4: #388b41;
$bc-chrome-5: #fcd209;
$bc-chrome-6: #f7c616;
$bc-chrome-7: #7fb3df;
$bc-chrome-8: #0f5b94;
$bc-royal-mail: #f00;
$bc-royal-mail-2: #ff0;
$bc-royal-mail-3: #000;
$bc-hootsuite: #000000;
$bc-hootsuite-2: #00aeef;
$bc-hootsuite-3: #8dc63f;
$bc-hootsuite-4: #ff9100;
